In [1]:
# Cleaning Brainstorm
## Three documents:
### Crashes
### Vehicle involved in the crash
### Persons involved in the crash
## Either
### Merge into a single csv and clean that X
### Clean each individually
## We will merge and then clean in order to ensure that rows are deleted wholly as needed
## Goals
### Final csv should have rows with essentially no NULLs
### Rows with NULLs either have those NULLs replaced by a relevant 0-equivalent value or are culled entirely
#### This is to ensure model efficacy and NoSQL DBMS funcitonality

# Data Cleaning Methodology
## Join entire dataset into a single, massive pandas df
### Do this off of Collision_ID
## Remove any duplicate columns
## Remove any columns with useless information
## Fill NULLs with relevant 0-equivalent values if possible
## Cull all remaining rows with NULLs

# Data Cleaning

Data Sources:

[Crashes](https://catalog.data.gov/dataset/motor-vehicle-collisions-crashes)

[Vehicles](https://catalog.data.gov/dataset/motor-vehicle-collisions-vehicles)

[Persons](https://catalog.data.gov/dataset/motor-vehicle-collisions-person)

In [2]:
import pandas as pd

# read crashes
crashes = pd.read_csv("Motor_Vehicle_Collisions_-_Crashes.csv")
crashes.head()

C:\Users\mrats\AppData\Local\Temp\ipykernel_20040\1708199835.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  crashes = pd.read_csv("Motor_Vehicle_Collisions_-_Crashes.csv")

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [3]:
# read vehicle
vehicles = pd.read_csv("Motor_Vehicle_Collisions_-_Vehicles.csv")
vehicles.head()

C:\Users\mrats\AppData\Local\Temp\ipykernel_20040\1775318218.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  vehicles = pd.read_csv("Motor_Vehicle_Collisions_-_Vehicles.csv")

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,VEHICLE_ID,STATE_REGISTRATION,VEHICLE_TYPE,VEHICLE_MAKE,VEHICLE_MODEL,VEHICLE_YEAR,...,PRE_CRASH,POINT_OF_IMPACT,VEHICLE_DAMAGE,VEHICLE_DAMAGE_1,VEHICLE_DAMAGE_2,VEHICLE_DAMAGE_3,PUBLIC_PROPERTY_DAMAGE,PUBLIC_PROPERTY_DAMAGE_TYPE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2
0,10385780,100201,09/07/2012,9:03,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
1,19140702,4213082,09/23/2019,8:15,0553ab4d-9500-4cba-8d98-f4d7f89d5856,NY,Station Wagon/Sport Utility Vehicle,TOYT -CAR/SUV,NaN,2002.0,...,Going Straight Ahead,Left Front Bumper,Left Front Quarter Panel,NaN,NaN,NaN,N,NaN,Driver Inattention/Distraction,Unspecified
2,14887647,3307608,10/02/2015,17:18,2,NY,TAXI,NaN,NaN,NaN,...,Going Straight Ahead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN
3,14889754,3308693,10/04/2015,20:34,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,Parked,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified,NaN
4,14400270,297666,04/25/2013,21:15,1,NY,PASSENGER VEHICLE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other Vehicular,NaN

In [4]:
# read person
persons = pd.read_csv("Motor_Vehicle_Collisions_-_Person.csv")
persons.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,EJECTION,...,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX
0,10249006,4229554,10/26/2019,9:43,31aa2bc0-f545-444f-8cdb-f1cb5cf00b89,Occupant,Unspecified,19141108.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,U
1,10255054,4230587,10/25/2019,15:15,4629e500-a73e-48dc-b8fb-53124d124b80,Occupant,Unspecified,19144075.0,33.0,Not Ejected,...,Does Not Apply,"Front passenger, if two or more persons, inclu...",Lap Belt & Harness,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F
2,10253177,4230550,10/26/2019,17:55,ae48c136-1383-45db-83f4-2a5eecfb7cff,Occupant,Unspecified,19143133.0,55.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,M
3,6650180,3565527,11/21/2016,13:05,2782525,Occupant,Unspecified,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Notified Person,NaN,NaN,NaN
4,10255516,4231168,10/25/2019,11:16,e038e18f-40fb-4471-99cf-345eae36e064,Occupant,Unspecified,19144329.0,7.0,Not Ejected,...,Does Not Apply,Right rear passenger or motorcycle sidecar pas...,Lap Belt,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F

### Joining

We're joining all three .csvs into a single pandas df on the Collision_ID column

In [5]:
# from https://stackoverflow.com/questions/23668427/pandas-three-way-joining-multiple-dataframes-on-columns

import functools as ft

# list of dfs
dfs = [crashes, vehicles, persons]

# join
df = ft.reduce(lambda left, right: pd.merge(left, right, on='COLLISION_ID'), dfs)

In [6]:
df.shape

(11607004, 73)

In [7]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1_y,CONTRIBUTING_FACTOR_2_y,PERSON_SEX
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Back,Driver,Lap Belt,NaN,NaN,Complaint of Pain or Nausea,Driver,NaN,NaN,M
1,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,NaN
2,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,M
3,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Back,"Front passenger, if two or more persons, inclu...",Lap Belt,NaN,NaN,Complaint of Pain or Nausea,Passenger,NaN,NaN,M
4,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Back,Driver,Lap Belt,NaN,NaN,Complaint of Pain or Nausea,Driver,NaN,NaN,M

### Culling Columns

First, we delete duplicate columns (ie. columns with column name: <COLUMN_NAME_x> generated from the join)

Second, we delete columns that contain more than 90% NULL values

In [8]:
df.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5',
       'UNIQUE_ID_x', 'CRASH_DATE_x', 'CRASH_TIME_x', 'VEHICLE_ID_x',
       'STATE_REGISTRATION', 'VEHICLE_TYPE', 'VEHICLE_MAKE', 'VEHICLE_MODEL',
       'VEHICLE_YEAR', 'TRAVEL_DIRECTION', 'VEHICLE_OCCUPANTS', 'DRIVER_SEX',
       'DRIVER_LICENSE_STATUS', 'DRIVER_LICENSE_JURISDICTION', 'PRE_CRASH',
       'POINT_OF_IMPACT', 'VEHICLE_DAMAGE', 'VEHICLE_DAMAGE_1',
       'VEHICLE_DAMAGE_2', 'VEHICLE_DAMAGE_3', 'PUBLIC_PROPERTY_DAMAGE',
       'PUBLIC_PROPERTY_DAMAGE_TYPE', 'CONTRIBUTING_FACTOR_1_x',
       'CONTRIBUTING_FACTOR_2_x', 'UNIQUE_ID_y', 'CRASH_DATE_y',
       'CRASH_TIME_y', 'PERSON_ID', 'PERSON_TYPE', 'PERSON_INJURY',
       'VEHICLE_ID_y', 'PERSON_AGE', 'EJECTION', 'EMOTIONAL_STATUS',
       'BODILY_INJURY', 'POSITION_IN_VEHICLE', 'SAFETY_EQUIPMENT',
       'PED_LOCATION', 'PED_ACTION', 'COMPLAINT', 'PED_ROLE',
       'CONTRIBUTING_FACTOR_1_y', 'CONTRIBUTING_FACTOR_2_y', 'PERSON_SEX'],
      dtype='object')

In [9]:
# Drop duplicate columns manually
df.drop(columns=['UNIQUE_ID_x', 'CRASH_DATE_x', 'CRASH_TIME_x', 'VEHICLE_ID_x', 'CONTRIBUTING_FACTOR_1_x', 'CONTRIBUTING_FACTOR_2_x', 'UNIQUE_ID_y', 'CRASH_DATE_y', 'CRASH_TIME_y', 'VEHICLE_ID_y', 'CONTRIBUTING_FACTOR_1_y', 'CONTRIBUTING_FACTOR_2_y'], inplace=True)

In [10]:
df.shape

(11607004, 61)

In [11]:
df.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5',
       'STATE_REGISTRATION', 'VEHICLE_TYPE', 'VEHICLE_MAKE', 'VEHICLE_MODEL',
       'VEHICLE_YEAR', 'TRAVEL_DIRECTION', 'VEHICLE_OCCUPANTS', 'DRIVER_SEX',
       'DRIVER_LICENSE_STATUS', 'DRIVER_LICENSE_JURISDICTION', 'PRE_CRASH',
       'POINT_OF_IMPACT', 'VEHICLE_DAMAGE', 'VEHICLE_DAMAGE_1',
       'VEHICLE_DAMAGE_2', 'VEHICLE_DAMAGE_3', 'PUBLIC_PROPERTY_DAMAGE',
       'PUBLIC_PROPERTY_DAMAGE_TYPE', 'PERSON_ID', 'PERSON_TYPE',
       'PERSON_INJURY', 'PERSON_AGE', 'EJECTION', 'EMOTIONAL_STATUS',
       'BODILY_INJURY', 'POSITION_IN_VEHICLE', 'SAFETY_EQUIPMENT',
       'PED_LOCATION', 'PED_ACTION', 'COMPLAINT', 'PED_ROLE', 'PERSON_SEX'],
      dtype='object')

In [12]:
# Remove columns with 90% NULL or 0-equivalent values (whitespaces and 0)
df = df.loc[:, df.isin([' ','NULL',0]).mean() < 0.1]

In [13]:
df.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5',
       'STATE_REGISTRATION', 'VEHICLE_TYPE', 'VEHICLE_MAKE', 'VEHICLE_MODEL',
       'VEHICLE_YEAR', 'TRAVEL_DIRECTION', 'DRIVER_SEX',
       'DRIVER_LICENSE_STATUS', 'DRIVER_LICENSE_JURISDICTION', 'PRE_CRASH',
       'POINT_OF_IMPACT', 'VEHICLE_DAMAGE', 'VEHICLE_DAMAGE_1',
       'VEHICLE_DAMAGE_2', 'VEHICLE_DAMAGE_3', 'PUBLIC_PROPERTY_DAMAGE',
       'PUBLIC_PROPERTY_DAMAGE_TYPE', 'PERSON_ID', 'PERSON_TYPE',
       'PERSON_INJURY', 'EJECTION', 'EMOTIONAL_STATUS', 'BODILY_INJURY',
       'POSITION_IN_VEHICLE', 'SAFETY_EQUIPMENT', 'PED_LOCATION', 'PED_ACTION',
       'COMPLAINT', 'PED_ROLE', 'PERSON_SEX'],
      dtype='object')

In [14]:
df.shape

(11607004, 51)

### Culling Rows

The join caused cartesian explosion which can be addressed by deleting any duplicate rows with df.drop_duplicates()

In [15]:
df.drop_duplicates(subset=['COLLISION_ID'], keep='first', inplace=True)

In [16]:
df.shape # dropped ~10 mil rows

(1485266, 51)

### Filling Nulls

In [17]:
# get dictionary of all columns with their respective count of nulls
nullcount_dict = df.isna().sum().to_dict()

In [18]:
nullcount_dict

{'CRASH DATE': 0,
 'CRASH TIME': 0,
 'BOROUGH': 505421,
 'ZIP CODE': 505662,
 'LATITUDE': 143547,
 'LONGITUDE': 143547,
 'LOCATION': 143547,
 'ON STREET NAME': 356113,
 'CROSS STREET NAME': 708217,
 'OFF STREET NAME': 1149003,
 'CONTRIBUTING FACTOR VEHICLE 1': 5178,
 'CONTRIBUTING FACTOR VEHICLE 2': 282964,
 'CONTRIBUTING FACTOR VEHICLE 3': 1367551,
 'CONTRIBUTING FACTOR VEHICLE 4': 1457179,
 'CONTRIBUTING FACTOR VEHICLE 5': 1477350,
 'COLLISION_ID': 0,
 'VEHICLE TYPE CODE 1': 11380,
 'VEHICLE TYPE CODE 2': 375972,
 'VEHICLE TYPE CODE 3': 1373033,
 'VEHICLE TYPE CODE 4': 1458220,
 'VEHICLE TYPE CODE 5': 1477574,
 'STATE_REGISTRATION': 160339,
 'VEHICLE_TYPE': 120015,
 'VEHICLE_MAKE': 328301,
 'VEHICLE_MODEL': 1460123,
 'VEHICLE_YEAR': 338994,
 'TRAVEL_DIRECTION': 212329,
 'DRIVER_SEX': 480945,
 'DRIVER_LICENSE_STATUS': 528627,
 'DRIVER_LICENSE_JURISDICTION': 526579,
 'PRE_CRASH': 158428,
 'POINT_OF_IMPACT': 229352,
 'VEHICLE_DAMAGE': 242956,
 'VEHICLE_DAMAGE_1': 695956,
 'VEHICLE_DAMAGE_2': 886150,
 'VEHICLE_DAMAGE_3': 1019831,
 'PUBLIC_PROPERTY_DAMAGE': 142798,
 'PUBLIC_PROPERTY_DAMAGE_TYPE': 1474333,
 'PERSON_ID': 2,
 'PERSON_TYPE': 0,
 'PERSON_INJURY': 0,
 'EJECTION': 861229,
 'EMOTIONAL_STATUS': 821834,
 'BODILY_INJURY': 821799,
 'POSITION_IN_VEHICLE': 861084,
 'SAFETY_EQUIPMENT': 911932,
 'PED_LOCATION': 1443194,
 'PED_ACTION': 1443248,
 'COMPLAINT': 821794,
 'PED_ROLE': 142798,
 'PERSON_SEX': 263108}

In [19]:
# Replace NaN with "Unspecified" to match another column that did this by default
# and 0.0 for numeric columns

df.fillna(df.dtypes.replace({'float64': 0.0, 'O': 'Unspecified'}), inplace=True)
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,EJECTION,EMOTIONAL_STATUS,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,PERSON_SEX
0,09/11/2021,2:39,Unspecified,Unspecified,0.000000,0.000000,Unspecified,WHITESTONE EXPRESSWAY,20 AVENUE,Unspecified,...,Not Ejected,Conscious,Back,Driver,Lap Belt,Unspecified,Unspecified,Complaint of Pain or Nausea,Driver,M
8,03/26/2022,11:45,Unspecified,Unspecified,0.000000,0.000000,Unspecified,QUEENSBORO BRIDGE UPPER,Unspecified,Unspecified,...,Not Ejected,Conscious,Shoulder - Upper Arm,Driver,Lap Belt & Harness,Unspecified,Unspecified,Complaint of Pain or Nausea,Driver,F
10,06/29/2022,6:55,Unspecified,Unspecified,0.000000,0.000000,Unspecified,THROGS NECK BRIDGE,Unspecified,Unspecified,...,Not Ejected,Does Not Apply,Does Not Apply,Driver,Lap Belt & Harness,Unspecified,Unspecified,Does Not Apply,Driver,M
18,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",Unspecified,Unspecified,1211 LORING AVENUE,...,Not Ejected,Does Not Apply,Does Not Apply,Unknown,Unspecified,Unspecified,Unspecified,Does Not Apply,Driver,F
22,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,Unspecified,...,Unspecified,Does Not Apply,Does Not Apply,Unspecified,Unspecified,Pedestrian/Bicyclist/Other Pedestrian at Inter...,"Crossing, No Signal, Marked Crosswalk",Does Not Apply,Pedestrian,M

In [20]:
# verify all nulls are gone
df.isna().sum().to_dict()

{'CRASH DATE': 0,
 'CRASH TIME': 0,
 'BOROUGH': 0,
 'ZIP CODE': 0,
 'LATITUDE': 0,
 'LONGITUDE': 0,
 'LOCATION': 0,
 'ON STREET NAME': 0,
 'CROSS STREET NAME': 0,
 'OFF STREET NAME': 0,
 'CONTRIBUTING FACTOR VEHICLE 1': 0,
 'CONTRIBUTING FACTOR VEHICLE 2': 0,
 'CONTRIBUTING FACTOR VEHICLE 3': 0,
 'CONTRIBUTING FACTOR VEHICLE 4': 0,
 'CONTRIBUTING FACTOR VEHICLE 5': 0,
 'COLLISION_ID': 0,
 'VEHICLE TYPE CODE 1': 0,
 'VEHICLE TYPE CODE 2': 0,
 'VEHICLE TYPE CODE 3': 0,
 'VEHICLE TYPE CODE 4': 0,
 'VEHICLE TYPE CODE 5': 0,
 'STATE_REGISTRATION': 0,
 'VEHICLE_TYPE': 0,
 'VEHICLE_MAKE': 0,
 'VEHICLE_MODEL': 0,
 'VEHICLE_YEAR': 0,
 'TRAVEL_DIRECTION': 0,
 'DRIVER_SEX': 0,
 'DRIVER_LICENSE_STATUS': 0,
 'DRIVER_LICENSE_JURISDICTION': 0,
 'PRE_CRASH': 0,
 'POINT_OF_IMPACT': 0,
 'VEHICLE_DAMAGE': 0,
 'VEHICLE_DAMAGE_1': 0,
 'VEHICLE_DAMAGE_2': 0,
 'VEHICLE_DAMAGE_3': 0,
 'PUBLIC_PROPERTY_DAMAGE': 0,
 'PUBLIC_PROPERTY_DAMAGE_TYPE': 0,
 'PERSON_ID': 0,
 'PERSON_TYPE': 0,
 'PERSON_INJURY': 0,
 'EJECTION': 0,
 'EMOTIONAL_STATUS': 0,
 'BODILY_INJURY': 0,
 'POSITION_IN_VEHICLE': 0,
 'SAFETY_EQUIPMENT': 0,
 'PED_LOCATION': 0,
 'PED_ACTION': 0,
 'COMPLAINT': 0,
 'PED_ROLE': 0,
 'PERSON_SEX': 0}

### Export to Final csv

In [21]:
# final metrics about the df
df.shape

(1485266, 51)

In [22]:
df.to_csv('Motor_Vehicle_Collisions_-_Full.csv', index=False)